.cart_product_card {
    display: flex;
    gap: 5px;
}

.cart_product_card_img {
    width: 20%;
}

.cart_product_card_img img {
    width: 100%;
}

.cart_product_card_body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart_product_card_body h2 {
    font-size: calc(var(--h4) + 2px);
    font-weight: calc(var(--fw) + 100);
}

.strikethrough {
    text-decoration: line-through;
    color: var(--grey);
    font-weight: calc(var(--fw) + 200);
}

.pricetag {
    color: var(--primary);
    font-weight: calc(var(--fw) + 200);
}

.cart_product_card_body p {
    font-size: var(--h4);
    font-weight: calc(var(--fw) + 100);
    color: var(--primary);
}