.testimonials {
    padding-block: 20px;
    padding-inline: 50px;
}

.testimonial_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5px;;
}

.testimonial_card {
    width: 45vh;
    height: fit-content;
    border: 1px solid red;
}

.testimonial_card_1 {
    border-bottom: 1px solid var(--grey);
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.testimonial_card_1 img {
    width: 100%;
    height: auto;
}

.testimonial_card_1 h1 {
    font-size: var(--h3);
}

.testimonial_card_1 h2 {
    font-size: var(--h4);
    font-weight: var(--fw);
}

.testimonial_card_1 p {
    font-size: calc(var(--h4) - 4px);
}

.testimonial_card_2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.testimonial_card_2 h2 {
    font-size: var(--h4);
    font-weight: var(--fw);
}

.testimonial_card_2 p {
    font-size: calc(var(--h4) - 4px);
}

.rating {
    display: flex;
    align-items: center;
}