.sticky_header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    padding-block: 10px;
    background-color: #EAFAFF;
    top: 0;
    position: fixed;
    z-index: 4;
}

.sticky_header.disabled {
    display: none;
}

.showup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.showup div {
    display: flex;
    align-items: center;
}

.action {
    display: flex;
    gap: 5px;
    align-items: center;
}

.action h2 {
    font-size: 17px;
    font-weight: 700;
    color: #121212BF;
}

@media screen and (max-width: 768px) {
    .sticky_header {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .sticky_header {
        display: none;
    }
}