.sticky_header {
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    padding-block: 30px;
    background-color: var(--secondary);
    top: 0;
    position: sticky;
    z-index: 4;
}

.sticky_header.disabled {
    display: none;
}

.showup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.showup div {
    display: flex;
    align-items: center;
}

.action {
    display: flex;
    gap: 5px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .sticky_header {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .sticky_header {
        display: none;
    }
}