.hero {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding-block: 20px;
    padding-inline: 35px;
}

.product-slider {
    width: fit-content;
    height: fit-content;
}

.product-info {
    padding-block: 20px;
    padding-inline: 30px;
    width: 20%;
    flex: 1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-info p {
    font-size: calc(var(--h3) - 2px);
    line-height: 25px;
}

.step_1 {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.step_2 {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.step_2 h1 {
    font-size: var(--h3);
    font-weight: calc(var(--fw) + 200);
    color: var(--grey);
}

.step_1 h1 {
    font-size: var(--h3);
    font-weight: calc(var(--fw) + 200);
    color: var(--grey);
}

.bundles {
    display: flex;
    gap: 10px;
}

.productChooser {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.next_buttons {
    display: flex;
    gap: 5px;
}

.rating-block {
    display: flex;
    gap: 5px;
    align-items: start;
}

.rating-block label {
    font-size: calc(var(--h4) + 3px);
    color: var(--primary);
    font-weight: calc(var(--fw) + 200);
}

.product_cart {
    border: 1px solid var(--black);
    border-radius: 7px;
    padding-block: 10px;
}

.product_heading {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding-inline: 7px;
}

.product_heading div p, .product_heading p {
    font-size: calc(var(--h4) + 4px);
    font-weight: calc(var(--fw) + 200);
    color: var(--grey);
}

.product_heading div {
    display: flex;
    gap: 5px;
}

.product_body {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
}

.product_body_card {
    display: flex;
    flex-direction: column;
}

.product_body_card_box {
    border: 2px solid var(--grey);
    padding: 30px;
    border-style: dashed;
    border-radius: 10px;
}

.product_body_card p {
    font-size: calc(var(--h4) - 2px);
    color: var(--grey);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
    }
    
    .product-info {
        padding: 0px;
        padding-block: 20px;
        width: 100%;
    }
    
    .product-info p {
        font-size: var(--h3);
    }
}

@media screen and (max-width: 440px) {
    .hero {
        padding: 15px;
    }

    .bundles {
        flex-direction: column;
        justify-content: center;
    }

    .step_2 {
        padding-right: 0px;
    }

    .product_body {
        flex-wrap: wrap;
    }
}