.footer {
    background-color: var(--primary);
    padding-inline: 50px;
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    color: var(--white);
    font-size: calc(var(--h4) - 2px);
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.row p a {
    text-decoration: none;
    color: var(--white);
}

.row p a:hover {
    text-decoration: underline;
    color: var(--black);
}

.col.first {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.col.first img {
    width: 50%;
}

.col .social {
    list-style: none;
    display: flex;
    gap: 10px;
}

.col.second, .col.third {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: calc(var(--fw) + 200);
    padding-bottom: 30px;
}

.col h1 {
    font-family: var(--ff-primary);
    text-transform: uppercase;
    font-size: var(--h3);
    color: var(--secondary);
}

.shop-list, .help-list {
    list-style: none;
    font-size: var(--h4);
    text-transform: uppercase;
}

.shop-list li, .help-list li {
    margin-block: 5px;
}

.shop-list li a, .help-list li a {
    color: var(--white);
    text-decoration: none;
}

.shop-list li a:hover, .help-list li a:hover {
    color: var(--black);
    text-decoration: underline;
}

@media screen and (max-width: 440px) {
    .row {
        flex-direction: column;
        justify-content: space-between;
    }
}