.button {
    background-color: var(--primary);
    color: var(--white);
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    font-weight: calc(var(--fw) + 200);
}

.button.mini {
    padding: 5px;
    font-size: var(--h4);
}