@keyframes openMobileMenu {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 35px;
    padding-block: 15px;
    border-bottom: 1px solid grey;
    font-size: calc(var(--h4) + 1px);
    letter-spacing: 1px;
}

.hamburger {
    display: none;
}

.hamburger svg {
    color: var(--grey);
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu ul li {
    margin-inline: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    color: var(--grey);
    font-weight: calc(var(--fw) + 100);
    font-family: var(--ff-primary);
}

.menu ul li a:hover {
    color: var(--primary);
    cursor: pointer;
}

.menu ul li svg {
    color: var(--grey)
}

.end {
    display: flex;
    align-items: center;
}

.end svg {
    margin-inline: 10px;
}

.end svg:hover {
    transform: scale(1.2);
    transition: 0.4s;
    cursor: pointer;
}

#end-svg-1 {
    width: 1.3rem;
    height: 1.3rem;
}

#end-svg-2 {
    width: 2.7rem;
    height: 2.7rem;
}

.shop_menu {
    width: 50vw;
    border: 1px solid var(--grey);
    border-top: 0px;
    display: flex;
    gap: 5px;
    padding: 15px;
    margin: auto;
    background-color: var(--white);
}

.hamburger .menu {
    display: inline;
}

.hamburger .close {
    display: none;
}

.mobile_menu {
    display: none;
}

.shop_menu_1 {
    width: 50%;
    border: 1px solid var(--black);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.shop_menu_1_text {
    width: 70%;
    padding: 5px;
}

.shop_menu_1_text_flex {
    display: flex;
    justify-content: space-between;
}

.shop_menu_1_text_flex h1 {
    font-size: calc(var(--h3) - 4px);
    font-weight: calc(var(--fw) + 200);
}

.shop_menu_1_text_flex p {
    padding: 5px;
    background-color: var(--secondary);
    border-radius: 5px;
    font-size: calc(var(--h4) - 4px);
    font-weight: var(--fw);
    filter: opacity(0.9);
}

.shop_menu_1_text_rating {
    display: flex;
}

.shop_menu_1_text_rating label {
    font-size: calc(var(--h4) - 2px);
    font-weight: calc(var(--fw) + 200);
}

.shop_menu_1_text p {
    font-size: var(--h4);
    font-weight: calc(var(--fw) + 100);
    filter: opacity(0.8);
}

.shop_menu_1_text ul {
    list-style: none;
    font-size: var(--h4);
    font-weight: calc(var(--fw) + 100);
    filter: opacity(0.8);
}

.shop_menu_1_text ul li {
    display: flex;
    align-items: start;
    gap: 5px;
}

.shop_menu_1_image {
    width: 30%;
}

.shop_menu_1_image img {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .hamburger {
        display: block;
    }

    .menu {
        display: none;
    }

    .mobile_menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 50%;
        border: 1px solid var(--grey);
        padding-bottom: 20px;
        animation: openMobileMenu 0.4s;
        position: absolute;
        background-color: var(--white);
        z-index: 4;
    }

    .mobile_menu.disabled {
        display: none;
    }

    .menu.mobile {
        display: block;
        width: 100%;
    }

    .menu.mobile ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .shop_menu.mobile {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0px;
        width: 85%;
        border: 1px solid transparent;
    }

    .shop_menu.mobile .shop_menu_1 {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .menu {
        display: none;
    }

    .mobile_menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        border: 1px solid var(--grey);
        padding-bottom: 20px;
        animation: openMobileMenu 0.4s;
    }

    .mobile_menu.disabled {
        display: none;
    }

    .menu.mobile {
        display: block;
        width: 100%;
    }

    .menu.mobile ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .shop_menu.mobile {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0px;
        width: 85%;
        border: 1px solid transparent;
    }

    .shop_menu.mobile .shop_menu_1 {
        width: 100%;
    }

    #end-svg-1 {
        display: none;
    }
}