.hero {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding-block: 20px;
    padding-inline: 35px;
}

.product-slider {
    width: 50%;
    height: fit-content;
}

.product-info {
    padding-block: 20px;
    padding-inline: 50px;
    width: 20%;
    flex: 1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-main, .product-interface {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-main h1 {
    font-size: 42px;
}

.product-info p {
    font-size: calc(var(--h3) - 2px);
    line-height: 25px;
}

.step_1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.step_2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.step_2 h1 {
    font-size: var(--h3);
    font-weight: calc(var(--fw) + 200);
    color: var(--grey);
}

.step_1 h1 {
    font-size: calc(var(--h3) - 2px);
    font-weight: calc(var(--fw) + 300);
    color: var(--grey);
}

.bundles {
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.productChooser {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.next_buttons {
    display: flex;
    gap: 15px;
}

.rating-block {
    display: flex;
    gap: 5px;
    align-items: center;
}

.rating-block label {
    font-size: calc(var(--h4) + 3px);
    color: var(--primary);
    font-weight: calc(var(--fw) + 200);
}

.product_cart {
    border: 1px solid var(--black);
    border-radius: 7px;
    padding-block: 10px;
}

.product_heading {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding-inline: 7px;
}

.product_heading div p, .product_heading p {
    font-size: calc(var(--h4) + 4px);
    font-weight: calc(var(--fw) + 200);
    color: var(--grey);
}

.product_heading div {
    display: flex;
    gap: 5px;
}

.product_body {
    display: flex;
    gap: 15px;
    border-radius: 10px;
    padding: 10px;
}

.product_body_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_body_card_box {
    border: 2px solid var(--grey);
    padding: 30px;
    border-style: dashed;
    border-radius: 10px;
}

.product_body_card p {
    width: 60%;
    font-size: calc(var(--h4) - 2px);
    font-weight: 500;
    line-height: 15px;
    color: var(--grey);
    text-align: center;
}

.product_body_card img {
    width: 4vw;
}

.product_body_card label {
    background-color: var(--primary);
    color: var(--white);
    font-size: calc(var(--h4) - 4px);
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    padding-inline: 7px;
    margin-left: 40px;
    position: absolute;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .hero {
        gap: 20px;
    }
    
    .product-slider {
        width: 50%;
    }
    
    .product-info {
        padding: 0px;
        padding-block: 20px;
        width: 45%;
    }
    
    .product-info p {
        font-size: var(--h3);
    }

    .bundles {
        gap: 10px;
    }
}

@media screen and (max-width: 440px) {
    .hero {
        flex-direction: column;
        padding: 15px;
    }

    .product-info {
        padding: 0px;
        padding-block: 20px;
        width: 100%;
    }
    
    .product-info p {
        font-size: var(--h3);
    }

    .product-slider {
        width: 100%;
        height: fit-content;
    }

    .bundles {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        overflow-x: auto;
    }

    .step_1 {
        padding-right: 0px;
    }

    .step_2 {
        padding-right: 0px;
    }

    .product_body {
        flex-wrap: wrap;
    }

    .product_body_card_box {
        width: 10%;
    }

    .product_body_card p {
        font-size: 14px;
    }
}