.button {
    width: fit-content;
    font-family: var(--ff-primary);
    background-color: var(--primary);
    color: var(--white);
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    font-weight: calc(var(--fw) + 200);
    cursor: pointer;
}

.button.mini {
    width: 85%;
    padding: 5px;
    font-size: var(--h4);
}

@media screen and (max-width: 440px) {
    .button {
        width: 90% !important;
        padding: 15px !important;
    }

    .button.mini {
        width: 90% !important;
        padding: 5px !important;
        font-size: var(--h4);
    }
}