.banner_2 {
    background-color: var(--primary);
    color: var(--white);
    padding-block: 70px;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.banner_2 h1 {
    width: 70%;
    font-size: var(--h1);
    font-weight: calc(var(--fw) + 100);
}

.banner_2 p {
    width: 60%;
    font-size: calc(var(--h3) - 2px);
    font-weight: var(--fw);
    line-height: 25px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    justify-content: center;
}

.card_2 {
    width: 230px;
    text-align: center;
}

.video_carousel.banner_2 {
    display: none;
}

.card_2 img {
    width: 100%;
    border: 1px solid var(--white);
    border-radius: 10px;
}

.card_2 p {
    width: 100%;
    font-size: var(--h4);
    color: var(--white);
}

@media screen and (max-width: 768px) {
    .banner_2 {
        gap: 10px;
        padding-inline: 5px;
        padding-block: 35px;
    }
    
    .banner_2 h1 {
        width: 80%;
        font-size: var(--h2);
        text-align: center;
    }
    
    .banner_2 p {
        width: 80%;
        font-size: var(--h3);
    }
    
    .cards {
        display: flex;
        width: 80%;
        gap: 20px;
        overflow: auto;
        flex-wrap: nowrap;
    }

    .card_2 p {
        width: 100%;
        font-size: var(--h4);
    }
}

@media screen and (max-width: 440px) {
    .banner_2 {
        padding-inline: 24px;
        padding-top: 70px;
        padding-bottom: 50px;
    }
    
    .banner_2 h1 {
        width: 100%;
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }
    
    .banner_2 p {
        width: 90%;
        font-size: 17px;
        font-weight: 400;
    }

    .cards {
        display: none;
    }
    
    .video_carousel.banner_2 {
        display: block;
    }

    .card_2 {
        width: 230px;
        text-align: center;
    }
    
    .card_2 img {
        width: 100%;
        border: 1px solid var(--white);
        border-radius: 10px;
    }
}