@import url('https://fonts.cdnfonts.com/css/lemonmilk');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');

html, body {
  overflow-x: hidden; 
}

* {
  padding: 0px;
  margin: 0px;
  font-family: var(--ff-secondary);
}

:root {
  --primary: #2A4ACD;
  --secondary: #CEFDF8;
  --white: #FFFFFF;
  --black: #000000;
  --grey: #646464;
  --ff-primary: "LEMON/MILK light", sans-serif;
  --ff-secondary: "Libre Franklin", sans-serif;
  --fw: 400;
  --h1: 36px;
  --h2: 32px;
  --h3: 20px;
  --h4: 14px;
  --letter-spacing: 0.1rem;
}