.sub_plan {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    border-radius: 10px;
    filter: opacity(0.59);
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.sub_plan p {
    font-size: var(--h4);
    font-weight: calc(var(--fw) + 200);
}

.fake_button {
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}

.fake_button p {
    font-size: var(--h3);
    font-weight: calc(var(--fw) + 300);
}

.lower ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}

.lower ul li {
    font-size: calc(var(--h3) - 4px);
    font-weight: calc(var(--fw) + 100);
    display: flex;
    align-items: center;
    gap: 0px;
}

.lower ul li img {
    width: 24px;
}