.banner {
    background-color: var(--secondary);
    color: var(--black);
    padding: 64px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.banner h1 {
    width: 50%;
    font-size: var(--h2);
    font-weight: calc(var(--fw) + 200);
    margin-block: 20px;
}

.banner p {
    width: 55%;
    font-size: calc(var(--h4) + 4px);
    font-weight: var(--fw);
}

.show-cards {
    display: flex;
    flex-direction: row;
    text-align: start;
    margin-inline: 40px;
    flex-wrap: wrap;
}

.card {
    width: 25%;
    align-items: center;
    margin-top: 40px;
}

.card img {
    width: 15%;
}

.card h1 {
    width: 100%;
    font-size: var(--h3);
}

.card p {
    width: 90%;
    font-size: calc(var(--h3) - 2px);
    font-weight: calc(var(--fw) - 100);
    line-height: 25px;
    color: var(--grey);
}