.review {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.review h1 {
    font-size: var(--h2);
    font-weight: calc(var(--fw) + 200);
}

.review p {
    font-size: var(--h3);
    padding-bottom: 10px;
}

.reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.video_carousel {
    width: 100%;
    display: flex;
    gap: 15px;
}

.video_card video {
    border-radius: 5px;
}

.review_card {
    width: 370px;
    border: 1px solid var(--primary);
    padding-inline: 15px;
    padding-block: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    color: var(--grey);
}

.review_card h2 {
    font-size: calc(var(--h3) - 2px);
    font-weight: var(--fw);
}

.review_card p {
    font-size: calc(var(--h4) + 4px);
    font-weight: calc(var(--fw) + 300);
    color: var(--primary);
}

.react-multiple-carousel__arrow {
    min-width: 34px !important;
    min-height: 34px !important;
    padding: 0px !important;
}

.react-multiple-carousel__arrow--left {
    border-radius: 5px !important;
    background-color: #F0F0F0 !important;
    left: 0px !important;
}

.react-multiple-carousel__arrow--right {
    border-radius: 5px !important;
    background-color: #F0F0F0 !important;
    right: 0px !important;
}

.react-multiple-carousel__arrow--left::before {
    content: "➔" !important;
    color: var(--primary) !important;
    transform: rotate(180deg) !important;
}

.react-multiple-carousel__arrow--right::before {
    content: "➔" !important;
    color: var(--primary) !important;
}

@media screen and (max-width: 768px) {
    .review_card {
        width: 100%;
    }

    .review_card {
        padding-inline: 10px;
        padding-block: 20px;
    }

    .review_card p {
        padding: 0px;
    }
}

@media screen and (max-width: 440px) {
    .review {
        padding: 15px;
    }

    .review_card {
        padding: 10px;
        padding-block: 20px;
    }

    .video_card video {
        width: 30%;
    }

    .review_card h2 {
        font-size: calc(var(--h4) - 2px);
        font-weight: var(--fw);
    }

    .review p {
        font-size: calc(var(--h4) - 2px);
        padding-bottom: 0px;
    }
}
